<div class="blotter-wrapper table-wrapper blotter-panel">
    <div class="blotter-head">
        <span class="header-title" v-text="blotterTitle"></span>
        <div class="blotter-fn">
            <i class="faw fa-envelope" title="Send Email"></i>
            <i class="faw fa-plus-circle" title="Maximun blotter" @click="maxBlotter"></i>
            <i class="faw fa-minus-circle" title="Minimum blotter" @click="minBlotter"></i>
        </div>
    </div>
    <div class="blotter-content grid-wrapper-outer table-scroll">
        <div class="table-header">
            <table class="table table-hover table-head" aria-hidden="false">
                <thead class="table-thead">
                    <tr>
                        <th v-for="col in columnOptions" :class="{'isActive': sortKey === col.field, 'fixed-column-sc': col.field === 'CHECK_BOX', 'menu-column': col.field === 'CONTEXT_BTN'}" @click="sortBy(col.field)">
                            <input type="checkbox" v-if="col.field === 'CHECK_BOX'" v-model="pageControl.isAllSelected" @click="handleClickSelectAllCheckBox()">
                            <div v-if="col.field === 'CONTEXT_BTN'"></div>
                            <div v-else v-text="col.title"></div>
                            <span v-if="col.field !== 'CHECK_BOX' && col.field !== 'CONTEXT_BTN' && sortKey == col.field" class="iarrow" :class="sortOrders[col.field] > 0? 'asc' : 'dsc'"></span>
                            <span class="grid-header-separator" v-on:mousedown="handleTableHeadMousedown($event, $index)"></span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table class="table table-hover scroll-table-body">
                <tbody class="table-tbody">
                    <tr v-for="entry in sortedData | filterBy quickFilter" class="table-loop" :class="{'active': entry.isSelected}">
                        <td v-for="columnField in columnFields" :class="{'fixed-column-sc': columnField === 'CHECK_BOX'}, 'menu-column': columnField === 'CONTEXT_BTN'">
                            <input type="checkbox" v-if="columnField === 'CHECK_BOX'" @click="handleClickCheckBox(entry)" v-model="entry.isSelected">
                            <div v-if="columnField === 'CONTEXT_BTN'" class="dropdown blotter-row-action" :class="{'open': entry.menuDropdownOpen}">
                                <a @click="handleClickActionBtn(entry, $event)" title="Actions Menu" aria-haspopup="true" aria-expanded="{{entry.menuDropdownOpen}}" class="blotter-action-btn">
                                    <span class="screenreaders">
    								Open actions menu
    							</span>
                                    <i class="icon-menu blotter-icon" :class="{'on': entry.menuDropdownOpen}"></i>
                                </a>
                                <ul class="context-menu blotter-row-menu row-actions-menu" v-if="entry.menuDropdownOpen">
                                    <li v-for="menuItem in contextMenu.options">
                                        <a class="pointer-cursor" @click="contextMenu.controller[menuItem.action](entry)" v-text="menuItem.displayName"></a>
                                    </li>
                                </ul>
                            </div>
                            <div v-if="columnField.toUpperCase().indexOf('AMOUNT') > -1" v-text="toDecimal(formatThousandSep(entry[columnField]))" :class="{'context-display-right': (columnField.toUpperCase().indexOf('AMOUNT') > -1), 'positive-figure': entry[columnField] >=0, 'negative-figure': entry[columnField] < 0, 'dash-mark-display': isDashMarkDisplay(columnField, entry[columnField])}">
                            </div>
                            <div v-else v-text="entry[columnField]" :class="{'context-display-right': (columnField.toUpperCase().indexOf('RATE') > -1), 'dash-mark-display': isDashMarkDisplay(columnField, entry[columnField])}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
